<p id="notice"><%= notice %></p>

<h1>M Cargos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_cargos.each do |m_cargo| %>
      <tr>
        <td><%= link_to 'Show', m_cargo %></td>
        <td><%= link_to 'Edit', edit_m_cargo_path(m_cargo) %></td>
        <td><%= link_to 'Destroy', m_cargo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Cargo', new_m_cargo_path %>
